## Modules
/node_modules
**/node_modules

## DotEnv
.env*
!.env.project
!.env.vault

## Logs
*.log
*.cache

## Misc
VERSION
.history
.version.json
.mono
.toolkit
bin
obj
./.gitattributes

## Features
.github/skills/feature-common-utils
.github/skills/feature-githooks
.github/skills/feature-gitutils
.github/skills/feature-gitversion
