## Modules
/node_modules
**/node_modules

## DotEnv
.env*
!.env.project
!.env.vault

## Logs
*.log
*.cache

## Misc
VERSION
.history
.version.json
.mono
.toolkit
bin
obj
./.gitattributes
src/common-utils/_zz_logs.sh
src/common-utils/configure-feature
src/common-utils/install-bin
src/common-utils/install-feature
src/common-utils/normalize-json
src/common-utils/validate-json
src/common-utils/zz_args
src/common-utils/zz_ask
src/common-utils/zz_colors
src/common-utils/zz_context
src/common-utils/zz_dispatch
src/common-utils/zz_edit
src/common-utils/zz_input
src/common-utils/zz_json
src/common-utils/zz_log
